.login_component{
    display: flex;
    justify-content: space-around;
    
}
.login_logo{
    display: flex;
    justify-content:center;
    margin-left: 50%;
    width: 10px;
}
.login_logo img{
    display: flex;
    width: 50px;
}


.login_form{
    background-color: aqua;
    width: 40%;
    height: 98vh;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}